  @import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', sans-serif;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, green, rgb(55, 255, 20));
}

.myself{
    color: white;
    width: 100vw;
    height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myself h1{
    font-size: 70px;
}
.myself p{
    font-size: 25px;
}

.more {
    display: flex;
    justify-content: center;
    flex-direction: column ;
    font-size: 0.75rem;

}
.more p {
    color: rgb(126, 126, 126);
    margin-top: 20px;
    margin-bottom: 8px;
    text-align: center;
}
.more a {
    text-decoration: none;
    color: rgb(126, 126, 126);
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(255, 255, 0, 0.344);
    margin: 0 47.8%;
    border-radius: 5px;
    padding: 2px 0;
}
.more a:hover{
    border: 2px solid rgb(255, 255, 0);
    color: white;
}


